<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <div style="flex: auto">
        <ion-button expand="block" (click)="lockVault()">Lock Vault</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <div style="flex: auto">
        <ion-button expand="block" (click)="unlockVault()">Unlock Vault</ion-button>
      </div>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-input
        label="Enter the &ldquo;session&rdquo; data"
        label-placement="floating"
        [(ngModel)]="state.session"
      ></ion-input>
    </ion-item>

    <ion-item>
      <div style="flex: auto">
        <ion-button expand="block" [disabled]="!state.session || state.session === ''" (click)="setSession(state.session)"> Set Session Data </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <div style="flex: auto">
        <ion-button expand="block" (click)="restoreSession()"> Restore Session Data </ion-button>
      </div>
    </ion-item>
    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-radio-group [(ngModel)]="state.lockType" (ionChange)="setLockType()">
        <ion-list-header>
          <ion-label> Vault Locking Mechanism </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-radio value="NoLocking">Cannot Lock</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio [disabled]="!state.canUseBiometrics" value="Biometrics">Use Biometrics</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio [disabled]="!state.canUsePasscode" value="SystemPasscode">Use System Passcode</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio [disabled]="!state.canUsePasscode && !state.canUseBiometrics" value="Both">Use Both (Device will choose)</ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <div style="flex: auto">
        <ion-button expand="block" color="danger" (click)="clearVault()"> Clear Vault </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>
        <div>Session Data: {{ state.session }}</div>
        <div>Vault is locked: {{ state.isLocked }}</div>
      </ion-label>
    </ion-item>




  </ion-list>
</ion-content>
